{% extends "header.html" %}

{% block body %}
    <div class="container">
        <div class="col m-5 mx-auto text " style="max-width: 400px;">
            <h3 class="title">Reset Password</h3>
            {% include 'elements/flashed_alert.html' %}
            <form method="POST" action="{{ request.path }}">
                <div class="mb-3">
                    <label for="InputPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control form-control-turbotin-cyan" id="InputPassword"
                           name="password" autocomplete="new-password">
                </div>
                <button type="submit" class="float-end btn btn-turbotin-cyan">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}