{% extends "header.html" %}
{% block body %}
    <script>{% include 'elements/checkbox_list.js' %}</script>
    <script>{% include 'elements/search_bar.js' %}</script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <div class="container">
        <div class="col m-5 mx-auto text">
            {% include 'elements/flashed_alert.html' %}
            {% if not current_user.email_verified %}
                <div class="alert alert-danger">
                    Verify your email address to sign up for updates. If you haven't yet received an email click
                    <a href="/resend_email" class="text-danger stretched-link">here</a> to
                    resend the email.
                </div>
            {% endif %}
            {% if updates %}
                <div class="mb-5">
                    <h1 class="pb-4">Active Notifications</h1>
                    <ul class="list-group">
                        {% for i in range(updates|length) %}
                            <li class="list-group-item">
                                <a href="/individual_blends/{{ updates[i].id }}" class="link-secondary">
                                    <span>{{ updates[i].blend }}</span>
                                </a>
                                <small class="text-dark">{{ updates[i].brand }}</small>
                                {% if updates[i].max_price %}
                                    <small class="text-secondary">{{ "${:,.2f}".format(updates[i].max_price) }}</small>
                                {% endif %}
                                {% if updates[i].stores %}
                                    {% for n in range(updates[i].stores|length) if not n > 3 %}
                                        <small style="color: {{ store_colors[updates[i].stores[n]] }};">
                                            {% if n < 3 %}
                                                {{ updates[i].stores[n] }}
                                                {% if n != updates[i].stores|length - 1 %}, {% endif %}
                                            {% elif n == 3 %}
                                                <small class="link-secondary" title="{{ stores[3:]|join(", ") }}">
                                                    and {{ updates[i].stores|length - 3 }} more
                                                </small>
                                            {% endif %}
                                        </small>
                                    {% endfor %}
                                {% endif %}
                                <button type="button" class="btn-close float-end" aria-label="Close"
                                        onclick="remove({{ i }});">
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <h1 class="pb-4">Add Notification</h1>
            <div class="alert alert-danger mb-4 d-none" role="alert" id="invalid_input">
            </div>

            <div class="pb-4">
                <div class="row">
                    <div class="pe-1 col-3 col-lg-1">
                        <span class="input-group-text mx-0" id="addon-wrapping">Brand</span>
                    </div>
                    <div class="ps-1 col">
                        {% with items=brands, id="brand_search", placeholder="Brand", custom_listener=True %}
                            {% include 'elements/search_bar.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="pb">
                <div class="row">
                    <div class="pe-1 col-3 col-lg-1">
                        <span class="input-group-text mx-0" id="addon-wrapping">Blend</span>
                    </div>
                    <div class="ps-1 col">
                        {% with items=blends, id="blend_search", placeholder="Blend", custom_listener=True %}
                            {% include 'elements/search_bar.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>


            <div class="row d-flex flex-row mt-4">
                <div class="col">
                    <div class="form-check ms-2">
                        <input class="form-check-input custom-control-input" type="checkbox" value="" id="show_stores">
                        <label class="form-check-label" for="show_stores">
                            Only specific stores
                        </label>
                    </div>
                    <div id="stores_container" class="d-none">
                        {% with items=stores, id="store_checkbox" %}
                            {% include 'elements/checkbox_list.html' %}
                        {% endwith %}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group pb-4">
                        <div class="input-group-text">Max Price</div>
                        <input type="number" class="form-control form-control-turbotin-cyan" id="max_price_val">
                    </div>
                    <button type="button" class="float-end btn btn-turbotin-cyan" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script>{% include 'email_updates.js' %}</script>
{% endblock %}