{% extends "header.html" %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>{% include 'elements/checkbox_list.js' %}</script>
    <script>{% include 'elements/search_bar.js' %}</script>
    <div class="col-xl-10 col-lg-11 col-12 mx-auto my-4">
        <table class="table table-bordered table-light table-responsive table-hover table-striped">
            <thead>
            <tr>
                <th scope="col" class="col col-lg-1">
                    <div class="dropdown">
                        <button class="btn btn-turbotin-cyan dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown">
                            <span class="d-none d-lg-inline-block">Filter</span> Stores
                        </button>
                        <div class="dropdown-menu" id="store_dropdown">
                            {% with items=stores, id="store_dropdown" %}
                                {% include "elements/checkbox_list.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </th>
                <th scope="col" class="col">
                    {% with items=[], id="item_search", placeholder="Filter items", hidden=True %}
                        {% include "elements/search_bar.html" %}
                    {% endwith %}
                </th>
                <th scope="col" class="d-none d-lg-table-cell col-1">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input class="form-check-input custom-control-input my-auto" type="checkbox" id="in_stock">
                            <label class="form-check-label" for="in_stock">
                                &nbsp In Stock
                            </label>
                        </div>

                    </div>
                </th>
                <th scope="col" class="col col-lg-1" style="min-width: 94px">
                    <div class="input-group">
                        <label class="input-group-text" for="price_sort">
                            $
                        </label>
                        <button class="btn btn-turbotin-cyan input-group-text" type="button" id="price_sort">
                            {% with width=16, height=16 %}
                                <div id="price_sort_down_up">
                                    {% include 'icons/arrow_down_up.html' %}
                                </div>
                                <div id="price_sort_down" class="d-none">
                                    {% include 'icons/arrow_down.html' %}
                                </div>
                                <div id="price_sort_up" class="d-none">
                                    {% include 'icons/arrow_up.html' %}
                                </div>
                            {% endwith %}
                        </button>
                    </div>
                </th>
                <th scope="col" class="d-none d-lg-table-cell col-2">
                    Last Updated
                </th>
            </tr>
            </thead>
            <tbody id="table_body">
            </tbody>
        </table>
        <div class="alert alert-danger d-none" role="alert" id="no_matches">
            No items matching this query.
        </div>
        <div class="container" id="too_many_matches">
            <div class="row">
                <div class="col">
                    <div class="alert alert-turbotin-cyan" role="alert" id="too_many_matches_alert">
                        Only showing first n rows.
                    </div>
                </div>
                <div class="col">
                    <button type="button" class="float-end btn btn-turbotin-cyan" id="show_more">
                        Show more
                    </button>
                </div>
            </div>
        </div>
    </div>
    <template id="row_template">
        <tr>
            <th scope="row" class="fw-normal" id="store"></th>
            <td id="item"></td>
            <td class="d-none d-lg-table-cell" id="stock"></td>
            <td id="price">
                <a class="float-end link-secondary" href="#" title="Price history">
                    {% with width=20, height=20 %}
                        {% include 'icons/graph_up.html' %}
                    {% endwith %}
                </a>
            </td>
            <td class="d-none d-lg-table-cell" id="time"></td>
        </tr>
    </template>
    <script>{% include 'full_table.js' %}</script>

{% endblock %}