{% extends "header.html" %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>{% include 'elements/checkbox_list.js' %}</script>
    <div class="col-xl-10 col-lg-11 col-12 mx-auto my-4">
        <table class="table table-bordered table-light table-responsive table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">
                    <div class="dropdown">
                        <button class="btn btn-turbotin-cyan dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown">
                            Filter Stores
                        </button>
                        <div class="dropdown-menu" id="store_dropdown">
                            {% with items=stores, id="store_dropdown" %}
                                {% include "elements/checkbox_list.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </th>
                <th scope="col">
                    Item
                </th>
                <th scope="col" class="d-none d-lg-table-cell">
                    Stock
                </th>
                <th scope="col">
                    Price
                </th>
                <th scope="col" class="d-none d-lg-table-cell">
                    Last Updated
                </th>
            </tr>
            </thead>
            <tbody id="table_body">
            </tbody>
        </table>

    </div>
    <template id="row_template">
        <tr>
            <th scope="row" id="store"></th>
            <td id="item"></td>
            <td class="d-none d-lg-table-cell" id="stock"></td>
            <td id="price"></td>
            <td class="d-none d-lg-table-cell" id="time"></td>
        </tr>
    </template>
    <script>{% include 'full_table.js' %}</script>

{% endblock %}