<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TurboTin</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='TurboTinLogo.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='custom_color.css')}}">

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light"
     style="border-bottom: 5px solid #00D2D2;">
    <a class="navbar-brand" href="/" style="font-variant: small-caps"><img
            src="{{ url_for('static', filename='TurboTinLogo.png') }}"
            width="30" height="30" class="d-inline-block align-top"
            alt=""> TurboTin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            {% set nav_items = [
            {"name": "Home", "link": "/"},
            {"name": "Email Updates", "link": "email"},
            {"name": "FAQ", "link": "/faq"},
            ]%}
            {% for item in nav_items %}
            <li class="nav-item">
                <a class="nav-link" href="{{item.link}}">{{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item mr-2">
                <a href="https://www.instagram.com/turbotinman/" class="nav_link d-none d-l-block d-xl-block"
                   target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Instagram_simple_icon.svg" width="24"
                         height="24"/>
                </a>
            </li>
            <li class="nav_item mr-2">
                <a href="mailto:turbotinftw@gmail.com" class="nav_link d-none d-l-block d-xl-block" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd"
                              d="M1.75 3A1.75 1.75 0 000 4.75v14c0 .966.784 1.75 1.75 1.75h20.5A1.75 1.75 0 0024 18.75v-14A1.75 1.75 0 0022.25 3H1.75zM1.5 4.75a.25.25 0 01.25-.25h20.5a.25.25 0 01.25.25v.852l-10.36 7a.25.25 0 01-.28 0l-10.36-7V4.75zm0 2.662V18.75c0 .138.112.25.25.25h20.5a.25.25 0 00.25-.25V7.412l-9.52 6.433c-.592.4-1.368.4-1.96 0L1.5 7.412z"></path>
                    </svg>
                </a>
            </li>
            <li class="nav-item mr-2">
                <a href="https://github.com/JohannesByle/turbotin" class="nav_link d-none d-l-block d-xl-block"
                   target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="24" height="24">
                        <path fill-rule="evenodd"
                              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
<script>{% include "blend_search.js" %}</script>
</html>