{% extends "header.html" %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="bg-light col-lg-2 col-md-12 sidebar">
            <div class="container p-0 m-0">
                <div class="dropdown ml-lg-3" id="search_dropdown">
                    <form class="form-inline mt-3 mb-2" data-toggle="dropdown">
                        <input class="form-control dropdown-toggle" type="search" autocomplete="off"
                               placeholder="Search for blends" aria-label="Search" id="search_bar"
                               onkeyup="search_blends()">
                    </form>
                    <div class="dropdown-menu overflow-hidden p-0 m-0 border-0" id="search_results">
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse" id="sidebar_collapse">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item font-weight-bold h3">{{brand}}</li>
                            {% for i in range(blends|length) %}
                            <li class="nav-item {%if blends[i].id|int==id %} active{% endif %}">
                                <a class="nav-link"
                                   href="/individual_blends/{{blends[i].id}}">{{blends[i].name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col bg-secondary vh-100">

        </div>
    </div>
</div>
<script>{% include 'search_bar.js' %}</script>
{% endblock %}