{% extends "header.html" %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>{% include 'elements/search_bar.js' %}</script>
    <div class="container d-block d-lg-none min-vw-100">
        <div class="mx-auto m-3 col-10 col-sm-8 col-md-6">
            {% with items=search_list, id="main_search_mobile", placeholder="Search for blends" %}
                {% include 'elements/search_bar.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="container-fluid flex-grow-1 d-flex">
        <div class="row d-flex flex-fill">
            <div class="d-none d-lg-block col border bg-light" style="max-width: 300px">
                <nav class="navbar-light nav flex-column m-3">
                    <ul class="navbar-nav">
                        <li class="nav-item mb-3">
                            {% with items=search_list, id="main_search", placeholder="Search for blends" %}
                                {% include 'elements/search_bar.html' %}
                            {% endwith %}
                        </li>
                        <a class="navbar-brand" href="#">{{ brand }}</a>

                        {% for i in range(blends|length) %}
                            <li class="nav-item">
                                <a class="nav-link link-secondary {% if blends[i].id|int==id %}active{% endif %}"
                                   href="/individual_blends/{{ blends[i].id }}">{{ blends[i].name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="col">
                <div class="col col-md-10 col-lg-8 mx-auto mt-3 mt-lg-5 align-items-center">
                    <div class="row align-items-center mb-5">
                        <div class="col" style="max-width: 125px!important;">
                            <img src="{{ url_for('static', filename='TurboTinLogo.png') }}" class="img-fluid">
                        </div>
                        <div class="col">
                            <h1>{{ blend }}</h1>
                        </div>
                    </div>
                    <div class="mx-auto">
                        <ul class="list-group">
                            {% for i in range(items|length) %}
                                <li class="list-group-item list-group-item-action">
                                    <a class="stretched-link {{ 'link-danger' if 'Out of stock' in items[i].stock|safe  else 'link-secondary' }}"
                                       href="{{ items[i].link }}" target="_blank">
                                        {{ items[i].item }}
                                    </a>
                                    <span class="float-end fw-bold">{{ items[i].price }}</span>
                                    <span class="float-end me-2" style="color: {{ store_colors[items[i].store] }}">
                                        {{ items[i].store }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="w-100 mt-5 mb-5" style="min-height: 500px; max-width: 100%!important;">
                            <canvas id="canvas" style="max-width: 100%!important;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>{% include 'elements/plot.js' %}</script>
{% endblock %}