{% extends "header.html" %}

{% block body %}
    <div class="container">
        <div class="col m-5 mx-auto text " style="max-width: 400px;">
            <h3 class="title">Login</h3>
            <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <form class="max-w-300p" method="POST" action="/login">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                               placeholder="Your email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Your Password"
                               name="password">
                    </div>
                    <div class="row max-w-100">
                        <div class="form-group">
                            <div class="form-check ml-3">
                                <input type="checkbox" class="form-check-input" id="Check" name="remember">
                                <label class="form-check-label" for="Check">Remember me</label>
                            </div>
                        </div>
                        <span class="mr-auto"></span>
                        <button type="submit" class="btn btn-turbotin-cyan mr-3">Login</button>
                    </div>
                </form>
                <p class="text-secondary"> Not registered? <a href="/signup">Sign up</a></p>
            </div>
        </div>
    </div>
{% endblock %}