{% extends "header.html" %}

{% block body %}
    <div class="container">
        <div class="col m-5 mx-auto text " style="max-width: 400px;">
            <h3 class="title">Reset Password</h3>
            {% include 'elements/flashed_alert.html' %}
            <form method="POST" action="/reset_password">
                <div class="mb-3">
                    <label for="InputEmailSignUp" class="form-label">Email address</label>
                    <input type="email" class="form-control form-control-turbotin-cyan" id="InputEmailSignUp"
                           name="email" autocomplete="email">
                </div>
                <button type="submit" class="float-end btn btn-turbotin-cyan">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}