{% extends "header.html" %}

{% block body %}
    <div class="container">
        <div class="col m-5 mx-auto text " style="max-width: 400px;">
            <h3 class="title">Sign Up</h3>
            {% include 'elements/flashed_alert.html' %}
            <form method="POST" action="/signup">
                <div class="mb-3">
                    <label for="InputEmailSignUp" class="form-label">Email address</label>
                    <input type="email" class="form-control form-control-turbotin-cyan" id="InputEmailSignUp"
                           name="email" autocomplete="email">
                </div>
                <div class="mb-3">
                    <label for="InputPasswordSignUp" class="form-label">Password</label>
                    <input type="password" class="form-control form-control-turbotin-cyan" id="InputPasswordSignUp"
                           name="password" autocomplete="new-password">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-turbotin-cyan">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}