/master_tester.py
/log.txt
/data/product_data.p
/refactor.py
/__pycache__/
/.idea/
/data/review_data.p
/product_scrapers/__pycache__/
/cat_product_data.p
/convert_old_archive.py
/archive/
/html_pages/
/paths.txt
/log1.txt
/.google-cookie
/data/google_cat_data.p
/html_generator/__pycache__/
/email_methods/email_password.txt
/email_methods/email_list.csv
/email_methods/storage.json
/email_methods/client_id.json