<!DOCTYPE html>
<html lang="en">
<!--HEADER-->


<div class="main-container-faq">
    <div class="main-body">
        <div class="ad-container">
            <div class="ad">
            </div>
        </div>
        <div class="item-container" style="box-shadow:none!important">
            <iframe style="display:block; width:100%;"
                    src="https://docs.google.com/forms/d/e/1FAIpQLSc1r3cCKo-41Rjm2f3Po1nV0mNL1HHvDaswiZ9xsyXLMnWj7A/viewform?embedded=true"
                    height="760" frameborder="0" marginheight="0" marginwidth="0">Loading…
            </iframe>
        </div>
        <div class="bottom-links mobile">
            <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
               class="header-text" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
            <a href="https://www.instagram.com/turbotinman/" class="header-text" target="_blank"><i
                    class="fa fa-instagram"
                    style="padding-right: 10px"></i></a>
            <a href="mailto:turbotinftw@gmail.com" class="header-text" target="_blank"><i
                    class="fa fa-envelope-square"></i></a>
        </div>
    </div>

</div>

<script src="/pages/templates/scripts.js"></script>
</body>
</html>