<!DOCTYPE html>
<html lang="en">
<!--HEADER-->

<link rel="stylesheet" href="/pages/templates/faq_style.css">
<div class="main-container-faq">
    <div class="main-body">
        <div class="ad-container">
            <div class="ad">
            </div>
        </div>
        <div class="header-body">
            <img src="/pages/TurboTinLogo.png" class="title-logo">
            <span class="title-text">FAQ</span>
        </div>
        <div class="item-container faq-container">
             <div class="faq-title">
                How do I use TurboTin.com?
            </div>
            <div class="faq-text">
                We will be updating our How To video shortly and will link it here.
             <div class="faq-title">
                Is there a fee to use TurboTin.com?
            </div>
            <div class="faq-text">
                No, at this time TurboTin.com is free to use.
            </div>
             <div class="faq-title">
                How often is TurboTin.com updated?
            </div>
            <div class="faq-text">
                We search over 30 online pipe tobacco retailers, twice a day.  The "Time" column shows the last update time for that entry.
            </div>
              <div class="faq-title">
                Which online retailers are included in your search?
            </div>
            <div class="faq-text">
                McCranies, 4Noggins, BlackCatCigars, WatchCityCigar, SmokingPipes, TopHat, CountrySquire, EACarey, KingSmoking, WindyCityCigars, TheStoryTellers, PayLess, BnB, KBVentures, PipeandLeaf, TheBriary, NiceAshCigars, PipeNook, Just4Him, Wilke, TobaccoPipes, MarsCigars, IwanRies, Boswells, CupOJoes, LilBrown, OutWest, CigarsIntl, SmokersHaven, Milan, LJPeretti, Hilandcigars, CDMCigars, Pipesand Cigars
            </div>
              <div class="faq-title">
                How do I request another retailer to be added?
            </div>
            <div class="faq-text">
                Send us an email at <a href="mailto:turbotinftw@gmail.com" class="header-text non-mobile" target="_blank">turbotinftw@gmail.com</a>
            </div>
             <div class="faq-title">
                Can I get notified on the status of my favorite blends?
            </div>
            <div class="faq-text">
                Yes, click on the "Email Updates" link and provide your email address and select the blend or brand to receive email notifications.
            </div>
           <div class="faq-title">
                Is there different data on the homepage versus the Individual Blends page?
            </div>
            <div class="faq-text">
                No, it is the same data, just grouped differently.  The homepage has a search bar to granularly sort the
                entire product list. The Individual Blends pages attempt to group blends together and provide price
                tracking over time.
            </div>
             <div class="faq-title">
                Why does TurboTin.com look different on my mobile devices?
            </div>
            <div class="faq-text">
                The site is now formatted to optimize multiple screen sizes, but the data will be the same.
            </div>
             <div class="faq-title">
                I don't see a "Stock" column when looking at TurboTin.com on my phone.  How do I know if it's out of stock?
            </div>
            <div class="faq-text">
                On smaller screen sizes, the entry will be highlighted in red if it is out of stock.
            </div>
              <div class="faq-title">
                The main page is really long.  How do I find what I'm looking for?
            </div>
            <div class="faq-text">
                Use the search box at the top of the columns to reduce the list.  Clicking on the column titles with change the sort order.
                You can also browse the "Individual Blends" page to find the blends you are looking for.
            </div>
           <div class="faq-title">
                Why are some tobacco's not categorized correctly?
            </div>
            <div class="faq-text">
                We scrape several thousand tobaccos every day and therefore categorizing each one manually would be far
                too time consuming. Instead we use fuzzy string matching, which is normally very good, especially with
                tobaccos that have unique names. However, blends with simple names or several different categorizations
                can cause it to slip up. If you have any feedback on how we could make this process better please let us
                know by emailing <a href="mailto:turbotinftw@gmail.com" class="header-text non-mobile" target="_blank">turbotinftw@gmail.com</a>
            </div>
            <div class="faq-title">
                What does the data in the price history plots mean?
            </div>
            <div class="faq-text">
            Each point in the graph represents the price of the tobacco when we scraped it. Dashed lines mean that
            the tobacco was out of stock at that time whereas a solid line means that it was in stock at that moment in
            time. This data is by no means complete as we only scrape twice a day and sometimes are unable to get data
            from a website for a period of time.
            </div>
            <div class="faq-title">
                Is TurboTin.com the best way to locate hard to find pipe tobaccos?
            </div>
            <div class="faq-text">
                You should have a multi-faceted plan that includes TurboTin.com as well as frequenting your local tobacco shops, registering with online retailers directly to get notifications and join their waitlists (if they have them), and visiting vintage tobacco tin sites like <a href="http://pipestud.com">PipeStud.com</a>
            </div>
        <div class="bottom-links mobile">
            <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
               class="header-text" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
            <a href="https://www.instagram.com/turbotinman/" class="header-text" target="_blank"><i
                    class="fa fa-instagram"
                    style="padding-right: 10px"></i></a>
            <a href="mailto:turbotinftw@gmail.com" class="header-text" target="_blank"><i
                    class="fa fa-envelope-square"></i></a>
        </div>
    </div>

</div>

<script src="/pages/templates/scripts.js"></script>
</body>
</html>