<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/pages/TurboTinLogo.png"/>
    <link rel="stylesheet" href="/pages/templates/main_style.css">
    <link rel="stylesheet" href="/pages/templates/faq_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146439186-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146439186-1');



</script>


<body>

<div id="header" class="header">
    <div class="header-body">
        <img src="/pages/TurboTinLogo.png" height="36" width="36"
             style="padding-right: 5px">
        <a href="http://turbotin.com/" class="header-text">TurboTin</a>
        <span></span>
        <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
           class="header-text non-mobile" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
        <a href="https://www.instagram.com/turbotinman/" class="header-text non-mobile" target="_blank"><i
                class="fa fa-instagram"
                style="padding-right: 10px"></i></a>
        <a href="mailto:turbotinftw@gmail.com" class="header-text non-mobile" target="_blank"><i
                class="fa fa-envelope-square"></i></a>
        <a href="javascript:void(0)" onclick="menuToggle()"><i class="fa fa-bars mobile header-text"></i></a>
    </div>
</div>

<div class="sub-header" style="z-index:-1!important">
</div>
<div id="sub-header" class="sub-header">
    <div class="sub-header-text">
        <a href="/" class="sub-header-box first-box">Home</a>
        <a href="/pages/html_data/full_table.html" class="sub-header-box">Full Table</a>
        <a href="/pages/html_data/esoterica-tobacciana-pembroke.html" class="sub-header-box">Individual Blends</a>
        <a href="/pages/templates/faq.html" class="sub-header-box">FAQ</a>
    </div>
</div>


<div class="main-container-faq">
    <div class="main-body">
        <div class="ad-container">
            <div class="ad">
            </div>
        </div>
        <div class="header-body">
            <img src="/pages/TurboTinLogo.png" class="title-logo">
            <span class="title-text">FAQ</span>
        </div>
        <div class="item-container faq-container">
            <div class="faq-title">
                This is a question
            </div>
            <div class="faq-text">
                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="faq-title">
                This is a question
            </div>
            <div class="faq-text">
                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

        </div>
        <div class="bottom-links mobile">
            <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
               class="header-text" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
            <a href="https://www.instagram.com/turbotinman/" class="header-text" target="_blank"><i
                    class="fa fa-instagram"
                    style="padding-right: 10px"></i></a>
            <a href="mailto:turbotinftw@gmail.com" class="header-text" target="_blank"><i
                    class="fa fa-envelope-square"></i></a>
        </div>
    </div>

</div>

<script src="/pages/templates/scripts.js"></script>
</body>
</html>