<!DOCTYPE html>
<html lang="en">
<!--HEADER-->

<link rel="stylesheet" href="/pages/templates/faq_style.css">
<div class="main-container-faq">
    <div class="main-body">
        <div class="ad-container">
            <div class="ad">
            </div>
        </div>
        <div class="header-body">
            <img src="/pages/TurboTinLogo.png" class="title-logo">
            <span class="title-text">FAQ</span>
        </div>
        <div class="item-container faq-container">
            <div class="faq-title">
                Why are some tobacco's not categorized correctly?
            </div>
            <div class="faq-text">
                We scrape several thousand tobaccos every day and therefore categorizing each one manually would be far
                too time consuming. Instead we use fuzzy string matching, which is normally very good, especially with
                tobaccos that have unique names. However, blends with simple names or several different categorizations
                can cause it to slip up. If you have any feedback on how we could make this process better please let us
                know by emailing <a href="mailto:turbotinftw@gmail.com" class="header-text non-mobile" target="_blank">turbotinftw@gmail.com</a>
            </div>
            <div class="faq-title">
                What does the data in the price history plots mean?
            </div>
            Each point in the graph represents the price of the tobacco when we scraped it. Dashed lines mean that
            the tobacco was out of stock at that time whereas a solid line means that it was in stock at that moment in
            time. This data is by no means complete as we only scrape twice a day and sometimes are unable to get data
            from a website for a period of time.
            <div class="faq-text">

            </div>

        </div>
        <div class="bottom-links mobile">
            <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
               class="header-text" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
            <a href="https://www.instagram.com/turbotinman/" class="header-text" target="_blank"><i
                    class="fa fa-instagram"
                    style="padding-right: 10px"></i></a>
            <a href="mailto:turbotinftw@gmail.com" class="header-text" target="_blank"><i
                    class="fa fa-envelope-square"></i></a>
        </div>
    </div>

</div>

<script src="/pages/templates/scripts.js"></script>
</body>
</html>