.main-container-faq {
    padding: 24px;
    color: rgba(0,0,0,.65);
    font-size: 20px;
}

.faq-title {
    font-size: 28px;
    padding-bottom: 10px;
}

.faq-text {
    padding-bottom: 10px;
}

.faq-container {
    padding: 20px;
    padding-bottom: 10px;
}

@media (max-width:992px) {
    .main-container-faq {
        padding: 24px;
        color: rgba(0,0,0,.65);
        font-size: 14px;
    }

    .faq-title {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .faq-text {
    padding-bottom: 5px;
}

    .faq-container {
        padding: 10px;
    }
}