<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><!--TITLE--></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.turbotin.com/pages/icon.png"/>
    <link rel="stylesheet" href="../templates/turbotin_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="header" class="header">
    <div class="header-body">
        <img src="https://www.turbotin.com/pages/TurboTinLogoLarge.svg" height="36" width="36"
             style="padding-right: 5px">
        <a href="http://turbotin.com/" class="header-text">TurboTin</a>
        <a href="http://turbotin.com/" class="header-text" id="display"></a>
        <span></span>
        <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
           class="header-text non-mobile" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
        <a href="https://www.instagram.com/turbotinman/" class="header-text non-mobile" target="_blank"><i
                class="fa fa-instagram"
                style="padding-right: 10px"></i></a>
        <a href="mailto:turbotinftw@gmail.com" class="header-text non-mobile" target="_blank"><i
                class="fa fa-envelope-square"></i></a>
        <a href="javascript:void(0)" onclick="menuToggle()"><i class="fa fa-bars mobile header-text"></i></a>
    </div>
</div>

<div class="sub-header" style="z-index:-1!important">
</div>
<div id="sub-header" class="sub-header">
    <div class="sub-header-text">
        <a href="https://www.turbotin.com/" class="sub-header-box first-box">Home</a>
        <a href="#" class="sub-header-box">Full Table</a>
        <a href="#" class="sub-header-box">FAQ</a>
    </div>
</div>


<div id="sidebar" class="side-menu non-mobile custom-non-mobile">
    <!--LIST-->
</div>


<div class="main-container">
    <div class="main-body">
        <div class="ad-container">
            <div class="ad">

            </div>
        </div>
        <div class="header-body">
            <img src="https://www.turbotin.com/pages/TurboTinLogoLarge.svg" class="title-logo">
            <span class="title-text"><!--BLEND NAME--></span>
        </div>
        <div class="item-container">
            <!--ITEM LIST-->
        </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <div id="chart_div"></div>
        <div class="bottom-links mobile">
            <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
               class="header-text" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
            <a href="https://www.instagram.com/turbotinman/" class="header-text" target="_blank"><i
                    class="fa fa-instagram"
                    style="padding-right: 10px"></i></a>
            <a href="mailto:turbotinftw@gmail.com" class="header-text" target="_blank"><i
                    class="fa fa-envelope-square"></i></a>
        </div>
    </div>

</div>
<script>
google.charts.load('current', {
    packages: ['corechart', 'line']
});
google.charts.setOnLoadCallback(drawBackgroundColor);

function drawBackgroundColor() {
    var data = new google.visualization.DataTable();

    <!--PLOT-->

    var options = {
        hAxis: {
            title: 'Date'
        },
        vAxis: {
            title: 'Price'
        },
        'height': 400
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    adjustHeight;
}
</script>
<script src="../templates/scripts.js"></script>
</body>
</html>