<!DOCTYPE html>
<html lang="en">

<!--HEADER-->

<style>
.sidebar-toggle {
    display:block!important;
}

</style>
<div id="sidebar" class="side-menu non-mobile custom-non-mobile">
    <!--LIST-->
</div>


<div class="main-container">
    <div class="main-body">
        <div class="ad-container">
            <div class="ad">

            </div>
        </div>
        <div class="header-body">
            <img src="/pages/TurboTinLogo.png" class="title-logo">
            <span class="title-text"><!--BLEND NAME--></span>
        </div>
        <div class="item-container">
            <!--ITEM LIST-->
        </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <div id="chart_div"></div>
        <div class="bottom-links mobile">
            <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
               class="header-text" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
            <a href="https://www.instagram.com/turbotinman/" class="header-text" target="_blank"><i
                    class="fa fa-instagram"
                    style="padding-right: 10px"></i></a>
            <a href="mailto:turbotinftw@gmail.com" class="header-text" target="_blank"><i
                    class="fa fa-envelope-square"></i></a>
        </div>
    </div>

</div>
<script>
google.charts.load('current', {
    packages: ['corechart', 'line']
});
google.charts.setOnLoadCallback(drawBackgroundColor);

function drawBackgroundColor() {
    var data = new google.visualization.DataTable();

    <!--PLOT-->

    var options = {
        hAxis: {
            title: 'Date'
        },
        vAxis: {
            title: 'Price'
        },
        lineWidth: 2,
        'height': 600
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    adjustHeight;
}

</script>
<script src="/pages/templates/sidebar_scripts.js"></script>
</body>
</html>