<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TurboTin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/pages/icon.png"/>
    <link rel="stylesheet" href="/pages/templates/table_style.css">
    <link rel="stylesheet" href="/pages/templates/main_style.css">
    <link rel="stylesheet" href="/pages/templates/tablesorter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/pages/js_and_css/jquery-latest.min.js"></script>
    <script src="/pages/js_and_css/jquery.tablesorter.js"></script>
    <script src="/pages/js_and_css/jquery.tablesorter.widgets.js"></script>
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146439186-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146439186-1');
</script>


<body>

<div id="header" class="header">
    <div class="header-body">
        <img src="/pages/TurboTinLogo.png" height="36" width="36"
             style="padding-right: 5px">
        <a href="/" class="header-text">TurboTin</a>
        <span></span>
        <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
           class="header-text non-mobile" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
        <a href="https://www.instagram.com/turbotinman/" class="header-text non-mobile" target="_blank"><i
                class="fa fa-instagram"
                style="padding-right: 10px"></i></a>
        <a href="mailto:turbotinftw@gmail.com" class="header-text non-mobile" target="_blank"><i
                class="fa fa-envelope-square"></i></a>
    </div>
</div>

<div class="sub-header" style="z-index:-1!important">
</div>
<div id="sub-header" class="sub-header">
    <div class="sub-header-text">
        <a href="/" class="sub-header-box first-box">Home</a>
        <a href="/pages/html_data/full_table.html" class="sub-header-box">Full Table</a>
        <a href="/pages/html_data/esoterica-tobacciana-pembroke.html" class="sub-header-box">Individual Blends</a>
        <a href="#" class="sub-header-box">FAQ</a>
    </div>
</div>

<div class="overlay" id="loading">
    <div style="margin:auto; width:50%">
        <img src="/pages/TurboTinlogo3.gif" width="275" height="275"
             style="display:block; margin:auto; transform: translateY(100%);">
        <div class="loading-text">Loading Table</div>
    </div>
</div>

<div style="padding:20px">
    <!--TABLE-->
</div>

<div class="bottom-links mobile">
    <a href="https://www.paypal.com/donate/?token=M0qRKPFdFUuJyzl_e25I3Iz7nYNQMw3qMz5i1b0m9rGKmGh3rqYEtXvHq6MLYe_77CXA9m"
       class="header-text" target="_blank"><i class="fa fa-paypal" style="padding-right: 10px"></i></a>
    <a href="https://www.instagram.com/turbotinman/" class="header-text" target="_blank"><i
            class="fa fa-instagram"
            style="padding-right: 10px"></i></a>
    <a href="mailto:turbotinftw@gmail.com" class="header-text" target="_blank"><i
            class="fa fa-envelope-square"></i></a>
</div>

<script src="/pages/templates/table_script.js"></script>
<script src="/pages/templates/scripts.js"></script>
</body>
</html>