{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
<form method="POST" action="/login">
    <div class="mb-3">
        <label for="InputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control form-control-turbotin-cyan" id="InputEmail" name="email">
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" class="form-control form-control-turbotin-cyan" id="InputPassword" name="password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input custom-control-input" id="remember_me" name="remember">
        <label class="form-check-label" for="remember_me">Keep me logged in</label>
    </div>
    <div class="modal-footer">
        <span class="me-auto">Not registered? <a href="/signup" class="link-turbotin-cyan">Sign up</a> </span>
        <button type="submit" class="btn btn-turbotin-cyan">Log in</button>
    </div>
</form>